@model AzureStorageLibrary.Models.Product
<h2>Add Product</h2>
<form class="form-inline" asp-action="Create" method="post" enctype="application/x-www-form-urlencoded">

    <input class="form-control mr-1" asp-for="Name" placeholder="Ürün ismi" />
    <input class="form-control mr-1" asp-for="Price" placeholder="Ürün fiyatı" />
    <input class="form-control mr-1" asp-for="Stock" placeholder="Ürün stoğu" />
    <input class="form-control mr-1" asp-for="Color" placeholder="Ürün rengi" />

    <input class=" btn btn-primary" type="submit" value="Ürün Kaydet" />
</form>

<h2>Products</h2>
<table class="table table-bordered">
    <tr>
        <th>RowKey</th>
        <th>PartitionKey</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Color</th>
        <th>TimeStamp</th>
    </tr>

    @foreach (var item in ViewBag.products as List<AzureStorageLibrary.Models.Product>)
    {
        <tr>
            <td>@item.RowKey</td>
            <td>@item.PartitionKey</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Color</td>
            <td>@item.Timestamp</td>
        </tr>

    }
</table>